body {
    background-image:url('./images/kangaroo.jpg');
    background-size:contain;
}
body.nested {
    background-image:url('./images/kangaroo.jpg');
    background-size:contain;
}

.region {
    text-emphasis: 30px;
    text-transform: uppercase;
}

.important-term {
    text-emphasis:bold
;
}

* {
text-align: left;
font-family:Georgia, 'Times New Roman', Times, serif;
background-color:azure;
color: brown;
}
p,h1, h2, h3, h4, li {
    display:table;
    padding:5px;
    border:2px;
    border-color:brown;
    border-style:ridge;

}

p {
    font-weight:900;
    font-size: larger;
    color:brown;

}

h1 {
    font-size: 500%;
    text-align: center;
}


h2 {
    font-size: 300%;
    text-align: center;
}

h3 {
    font-size: 200%;
}
.span {
    display: inline;
}
span.nav {
    display:flex;
    flex-wrap: wrap;
    flex:auto;
}

li a, a{
text-decoration: none;
color:brown;
font-size: 48px;
border: 2px;
border-color: brown;
border-style:solid;
padding:2px;
}
li {
    border-style: hidden;
}

a{
    text-decoration: none;
    color:brown;
    font-size: 24px;
    border: 2px;
    border-color: brown;
    border-style:solid;
    padding:2px;
    }

ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.non-nav li {
    border: 2px;
    border-color: brown;
    border-style:solid;
    padding:2px;
}
ul.non-nav {
    display:block
    border: 2px;
    border-color: brown;
    border-style:solid;
    padding:2px;
}